*{
    background-color: aquamarine;
    cursor: url('Assets/dot2.png'), pointer;
}

html, body {
    overflow: hidden; /* Disables scrolling */
    height: 100%; /* Ensures the body fills the viewport */
    margin: 0; /* Removes default margin */
}
#main{
    display: flex;
    position: relative;
}
img{
    background-color: transparent;
}
.movers{
    background-color: transparent;
    opacity: 0.5;
    position: absolute;
    height: 200px;
    width: 300px;
}
#move1{
    left: 27%;
    z-index: 20;
}
#move1:hover + #eb1{
    transform: translate(0px,-120px);
    transition: transform 0.15s ease-out;
}
#move2{
    transform: translate(720px,0px);
    z-index: 20;   
}
#move2:hover + #eb2{
    transform: translate(350px,-120px);
    transition: transform 0.1 0.15s ease-in-out;
}
#noseimg{
    transform: translate(-10px,-20px);
    height: 70px;
}
#info{
    position: absolute;
    top: 50px;
    font-size: small;
}
.eyes{
    scale: 0.4;
    background-color: transparent;
    z-index: 2;
    position: absolute;
}
#eye1{
    transform: translate(85vw, 1vh);
}
#eye2{
    position: absolute;
    transform: translate(118vw,1vh);
}
.eb{
    background-color: #0000;
}
.ebs{
    z-index: 10;
    background-color: #0000;
    position: absolute;
    top: 50px;
    left: 30%;
    transition: transform 0.25s ease-in-out;
}
.ebs2{
    z-index: 10; 
    background-color: #0000;
    position: relative;
    transition: transform 0.25s ease-in-out;
}
#eb2{
    left: 27%;
    transform: translate(350px,50px);
}
#face{
    position: absolute;
    left: 30vw;
    top: -0px;
    height: 550px;
    width: 500px;
    border-radius: 50%;
    /* background-color: #FFC080; */
    transform: scale(1.5);
    background-color: #edaf8a;
}

#nose{
    scale: 1.4;
    position: absolute;
    top: 180px;
    left: 49%;
    height: 50px;
    width: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-top: 0px;
}

#lips{
    position: absolute;
    left: 48%;
    top: 400px;
    height: 1px;
    width: 50px;
    background-color: rgb(231, 90, 90);
    z-index: 10;
}

#beard{
    position: absolute;
    top: 250px;
    height: 280px;
    width: 500px;
    background-color: #c7baad;
    border: 0px solid #000;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    opacity: 0.7;
}

#trimmer{
    position: absolute;
    height: 5px;
    width: 70px;
    background-color: #0000;
    z-index: 5;
    /* transform: translate(); */
}

#score{
    position: absolute;
    font-size: 40px;
    left: 10px;
}

#clipper{
    background-color: rgba(00, 00, 00, 00);
    width: 90px;
    translate: -10px 0px;
}
